/src/api/keybindings/built-in.ts linguist-generated
/src/commands/layouts/*.md linguist-generated
/src/commands/load-all.ts linguist-generated
/src/commands/README.md linguist-generated
/package.json linguist-generated
/test/suite/api.test.ts linguist-generated
/test/suite/commands/*.test.ts linguist-generated
